.inline,
.page {
  position: relative;
  justify-content: center;
  align-items: center;
}

.inline {
  max-width: var(--maxWidth);
  min-height: 100%;
  margin: 0 auto;
}

.intro {
  float: left;
  display: inline;
  padding: 0.5em;
  font-weight: 900;
}

.intro-img {
  width: 40%;
}

.intro-text {
  width: 60%;
}

p {
  margin: 2.5rem 0;
}

@media screen and (max-width: 960px) {

  table th,
  table td {
    font-size: 0.875rem;
    padding: 0.375rem 0.5rem;
  }
}

table th,
table td {
  padding: 0.625rem 1rem;
  border-bottom: #fff 0.0625rem solid;
  width: 20%;
}

table th {
  background: var(--bs-yellow);
  color: var(--bs-dark);
  text-align: left;
  white-space: nowrap;
}

table {
  width: 100%;
}

table .tab {
  display: flex;
}

table tr:nth-child(even) td {
  background: rgba(255, 255, 255, 0.1);
}

table .tab .image {
  width: 12.5rem;
  height: 12.5rem;
  flex-shrink: 0;
  flex-grow: 0;
  background: center center no-repeat;
  background-size: cover;
  margin: .375rem;
  background-color: #f1f1f1;
}

table .tab .body {
  padding-left: 1rem;
  padding-right: 1rem;
}

table p:last-child {
  margin-bottom: 0;
}

table p:first-child {
  margin-top: 0;
  height: 9rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

tr.active,
table .active+tr td {
  background: #fff !important;
  color: #333 !important;
}