.inline,
.page {
  position: relative;
  justify-content: center;
  align-items: center;
}
.inline {
  max-width: var(--maxWidth);
  min-height: 100%;
  margin: 0 auto;
}
.intro {
  float: left;
  display: inline;
  padding: 0.5em;
  items-align: center;
}
.intro-img {
  width: 40%;
}
.intro-text {
  width: 60%;
}
p {
  margin: 0 10px;
}
.intro-content {
  max-height: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
}
