h1 {
  color: var(--highlightColor);
}
.home {position: absolute;
display: flex;
height: 100%;
width: 100%;
align-items: center;
justify-content: center;
color: #fff;
font-family: var(--twn-font);
text-align: center;
flex-direction: column;
}